<template>
    <style>

        .image-wrapper {
            width: 100%;
        }

        .book-card {
            width: 500px;
            height: 275px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-left-width: .25rem;
            border-radius: .25rem;
        }

        .book-card-body {
            position: absolute;
            top: 10%;
            width: 265px;
            left: 215px;
        }

        .book-card-title {
            color: #26A69A;
        }

        .book-card-subtitle {
            color: #333333;
            font-size: small;
        }

        .book-card-title,
        .book-card-subtitle {
            line-height: 0;
        }

        .modify-description {
            position: relative;
        }

        .modify-description button {
            position: absolute;
            bottom: 8px;
        }

        .modify-description button.cancel {
            right: 10px;
        }

        .modify-description button.ok {
            right: 68px;
        }

        .book-card textarea {
            margin-top: 10px;
            background-color: #f5f5f5;
        }

        .book-card-text {
            background-color: rgba(158, 158, 158, 0.18);
            height: 100px;
            padding: 10px;
            border-right-width: .25rem;
            border-radius: .25rem;
        }

        .book-card-text:hover {
            cursor: pointer;
            background-color: rgba(158, 158, 158, 0.44);
        }

        div.book-card .btn {
            border: 1px solid transparent;
            line-height: 1.25;
            border-radius: .25rem;
            transition: all .15s ease-in-out;
        }

        .btn-success {
            color: white;
            background-color: #009688;
        }

        .btn-success:hover {
            background-color: #4DB6AC;
        }

        .btn-danger {
            color: white;
            background-color: #BDBDBD;
        }

        .btn-danger:hover {
            background-color: #E0E0E0;
        }

        .tag {
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            height: 16px;
            border-radius: 100px;
            background-color: #e0e0e0;
            color: #757575;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .book-card-footer {
            border-top: 1px dashed #009688;
        }

        .book-image {
            width: 100%;
        }

        .book-image:hover {
            background-color: white;
            opacity: 0.7;
        }
    </style>
</template>