node_modules
.idea
.DS_STORE
*-bundle.js
*bundle.js.map
*.log*
Chapter-16-Complete/my-books/.firebaserc
Chapter-16-Complete/my-books/firebase.json
Chapter-16-Complete/my-books/scripts/
Chapter-16-Complete/my-books/deploy/
