node_modules
.idea
.DS_STORE
*-bundle.js
*bundle.js.map
*.log*
Chapter-16-Complete/my-books/.firebaserc
Chapter-16-Complete/my-books/firebase.json
Chapter-16-Complete/my-books/scripts/
Chapter-16-Complete/my-books/deploy/

Chapter-10-Complete/my-books/fonts/

Chapter-12-Complete/my-books/fonts/

Chapter-13-Complete/my-books/fonts/

Chapter-2-Complete/my-books/scripts/

Chapter-3-Complete/my-books/fonts/

Chapter-4-Complete/my-books/fonts/

Chapter-4-Complete/my-books/scripts/

Chapter-5-Complete/my-books/fonts/

Chapter-7-Complete/my-books/fonts/

Chapter-6-Complete/my-books/fonts/

Chapter-8-Complete/my-books/fonts/

Chapter-14-Complete/my-books/fonts/

Chapter-15-Complete/my-books/fonts/

Chapter-16-Complete/my-books/fonts/

Chapter-9-Complete/my-books/fonts/
