.box{
    width:200px;
    height:200px;
    background-color:blue;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  
  .box:hover {
    background-color: red;
    cursor: pointer;
  }